<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="icon" href="/images/dollar.jpg" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <a href="/" class="logo">
                <img src="/images/pricewatchlogo.png" alt="PriceWatch Logo">
            </a>
        </header>
        <div class="product-container">
            <div class="product-image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="product-details">
                <h1 class="product-title"><%= product.title %></h1>
                <% if (product.store === 'Amazon') { %>
                    <div class="price-box">
                        <img src="/images/amazon.png" alt="Amazon Logo" class="store-logo"> Amazon Price: <%= product.price %>
                    </div>
                    <div class="price-box">
                        <img src="/images/prime.png" alt="Amazon Logo" class="store-logo"> Prime Price: <%= product.primePrice %>
                    </div>
                <% } else if (product.store === 'Best Buy') { %>
                    <div class="price-box">
                        <img src="/images/bestbuy.png" alt="Best Buy Logo" class="store-logo"> Best Buy Price: <%= product.price %>
                    </div>
                <% } %>
                <% product.stores.forEach(store => { %>
                    <% if (store.store === 'Amazon') { %>
                        <div class="price-box">
                            <img src="/images/amazon.png" alt="Amazon Logo" class="store-logo"> Amazon Price: <%= store.price %>
                        </div>
                        <div class="price-box">
                            <img src="/images/prime.png" alt="Amazon Logo" class="store-logo"> Prime Price: <%= store.primePrice %>
                        </div>
                    <% } else if (store.store === 'Best Buy') { %>
                        <div class="price-box">
                            <img src="/images/bestbuy.png" alt="Best Buy Logo" class="store-logo"> Best Buy Price: <%= store.price %>
                        </div>
                    <% } %>
                <% }); %>
                <div class="buy-now-button-container">
                    <a href="<%= product.url %>" target="_blank" class="buy-now-button">Buy on <%= product.store %></a>
                    <% product.stores.forEach(store => { %>
                        <a href="<%= store.url %>" target="_blank" class="buy-now-button">Buy on <%= store.store %></a>
                    <% }); %>
                </div>
                <button id="addStoreButton">Add Store</button>
                <form id="storeUrlForm" action="/products/add-store-url/<%= productIndex %>" method="post" style="display:none;" onsubmit="showLoadingPopup()">
                    <input type="text" name="storeUrl" placeholder="Enter Product URL" required>
                    <button type="submit">Add URL</button>
                </form>
            </div>
        </div>
        <div class="price-history">
            <h2>Price History</h2>
            <p>Last Updated: <%= product.lastUpdated %></p>
            <ul>
                <% product.history.forEach(entry => { %>
                    <li>Time: <%= entry.time %>, 
                    <% if (entry.store === 'Amazon') { %>
                        Amazon Price: <%= entry.price %>, Prime Price: <%= entry.primePrice %>
                    <% } else if (entry.store === 'Best Buy') { %>
                        Best Buy Price: <%= entry.price %>
                    <% } %>
                    </li>
                <% }) %>
            </ul>
            <canvas id="priceChart"></canvas>
        </div>
        <div class="tracked-products">
            <h2>Tracked Products</h2>
            <ul id="urlList"></ul>
        </div>
    </div>
    
    <!-- Loading Overlay and Popup -->
    <div id="loadingOverlay" class="loading-overlay"></div>
    <div id="loadingPopup" class="loading-popup">
        <div class="lds-dual-ring"></div>
        <p>Fetching Product Information...</p>
    </div>

    <script>
        document.getElementById('addStoreButton').addEventListener('click', function() {
            const form = document.getElementById('storeUrlForm');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });

        document.addEventListener('DOMContentLoaded', () => {
            fetchUrls().catch(error => console.error('Error fetching URLs:', error));
            renderPriceChart();

            async function fetchUrls() {
                try {
                    const response = await fetch('/products/get-urls');
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    const products = await response.json();
                    updateProductList(products);
                } catch (error) {
                    console.error('Error fetching URLs:', error);
                }
            }

            function updateProductList(products) {
                const urlList = document.getElementById('urlList');
                urlList.innerHTML = '';
                products.forEach((product, index) => {
                    const listItem = document.createElement('li');
                    const link = document.createElement('a');
                    link.href = `/products/${index}`;
                    link.innerText = product.title;

                    const deleteButton = document.createElement('button');
                    deleteButton.className = 'delete-button';
                    deleteButton.innerHTML = '<img src="/images/delete.png" alt="Delete" class="delete-icon">';
                    deleteButton.onclick = () => removeUrl(index);

                    listItem.appendChild(link);
                    listItem.appendChild(deleteButton);
                    urlList.appendChild(listItem);
                });
            }

            async function removeUrl(index) {
                try {
                    await fetch(`/products/delete-url/${index}`, {
                        method: 'DELETE',
                    });
                    fetchUrls().catch(error => console.error('Error fetching URLs after deletion:', error));
                } catch (error) {
                    console.error('Error deleting URL:', error);
                }
            }

            function renderPriceChart() {
                const ctx = document.getElementById('priceChart').getContext('2d');
                const times = <%- JSON.stringify(product.history.map(entry => entry.time)) %>;
                const amazonPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Amazon').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const primePrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Amazon').map(entry => ({ x: entry.time, y: parseFloat(entry.primePrice.replace(/[^0-9.-]+/g,"")) }))) %>;
                const bestBuyPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Best Buy').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;

                const uniqueTimes = Array.from(new Set(times));

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: uniqueTimes,
                        datasets: [
                            {
                                label: 'Amazon Price',
                                data: amazonPrices,
                                borderColor: 'blue',
                                fill: false,
                            },
                            {
                                label: 'Prime Price',
                                data: primePrices,
                                borderColor: 'green',
                                fill: false,
                            },
                            {
                                label: 'Best Buy Price',
                                data: bestBuyPrices,
                                borderColor: 'red',
                                fill: false,
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Price Data'
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'minute',
                                    tooltipFormat: 'll HH:mm',
                                    displayFormats: {
                                        'minute': 'HH:mm'
                                    }
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Price ($)'
                                }
                            }]
                        }
                    }
                });
            }
        });

        function showLoadingPopup() {
            document.getElementById('loadingOverlay').style.display = 'block';
            document.getElementById('loadingPopup').style.display = 'block';
            document.body.classList.add('dimmed');
        }
    </script>
</body>
</html>
