<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="/styles/product.css">
    <link rel="icon" href="/images/dollar.jpg" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js is used to render a graph display for the product history-->
</head>
<body>

    <nav class="navbar">
        <ul class="navbar-links">
            <li><img src="/images/pricewatchlogo.png" alt="PriceWatch Logo"></li>
            <li><a href="/">Home</a></li>
            <li><a href="/tracked">Tracked Products</a></li>
            <li><a href="/about">About PriceWatch</a></li>
            <li class="spacer"></li> <!-- Empty space to push the toggle to the right -->
            <li class="toggle-container">
                <button id="darkModeToggle" class="dark-mode-toggle">🌙</button>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="product-container">
            <div class="product-image">
                <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="product-details">
                <h1 class="product-title"><%= product.title %></h1>
                <% if (product.store === 'Amazon') { %>
                    <div class="price-box">
                        <img src="/images/amazon.png" alt="Amazon Logo" class="store-logo"> Amazon Price: <%= product.price %>
                    </div>
                    <div class="price-box">
                        <img src="/images/prime.png" alt="Amazon Logo" class="store-logo"> Prime Price: <%= product.primePrice %>
                    </div>
                <% } else if (product.store === 'Best Buy') { %>
                    <div class="price-box">
                        <img src="/images/bestbuy.png" alt="Best Buy Logo" class="store-logo"> Best Buy Price: <%= product.price %>
                    </div>
                <% } else if (product.store === 'Nike') { %>
                    <div class="price-box">
                        <img src="/images/nike.png" alt="Nike Logo" class="store-logo"> Nike Price: <%= product.price %>
                    </div>
                <% } else if (product.store === 'Home Depot') { %>
                    <div class="price-box">
                        <img src="/images/homedepot.png" alt="Home Depot Logo" class="store-logo"> Home Depot Price: <%= product.price %>
                    </div>
                <% } else if (product.store === 'Walgreens') { %>
                    <div class="price-box">
                        <img src="/images/walgreens.png" alt="Walgreens Logo" class="store-logo"> Walgreens Price: <%= product.price %>
                    </div>
                <% } else if (product.store === 'Sams Club') { %>
                    <div class="price-box">
                        <img src="/images/samsclub.png" alt="Sams Club Logo" class="store-logo"> Sam's Club Price: <%= product.price %>
                    </div>
                <% } %>
                <% product.stores.forEach(store => { %>
                    <% if (store.store === 'Amazon') { %>
                        <div class="price-box">
                            <img src="/images/amazon.png" alt="Amazon Logo" class="store-logo"> Amazon Price: <%= store.price %>
                        </div>
                        <div class="price-box">
                            <img src="/images/prime.png" alt="Amazon Logo" class="store-logo"> Prime Price: <%= store.primePrice %>
                        </div>
                    <% } else if (store.store === 'Best Buy') { %>
                        <div class="price-box">
                            <img src="/images/bestbuy.png" alt="Best Buy Logo" class="store-logo"> Best Buy Price: <%= store.price %>
                        </div>
                    <% } else if (store.store === 'Nike') { %>
                        <div class="price-box">
                            <img src="/images/nike.png" alt="Nike Logo" class="store-logo"> Nike Price: <%= store.price %>
                        </div>
                    <% } else if (store.store === 'Home Depot') { %>
                        <div class="price-box">
                            <img src="/images/homedepot.png" alt="Home Depot Logo" class="store-logo"> Home Depot Price: <%= store.price %>
                        </div>
                    <% } else if (store.store === 'Walgreens') { %>
                        <div class="price-box">
                            <img src="/images/walgreens.png" alt="Walgreens Logo" class="store-logo"> Walgreens Price: <%= store.price %>
                        </div>
                    <% } else if (store.store === 'Sams Club') { %>
                        <div class="price-box">
                            <img src="/images/samsclub.png" alt="Sams Club Logo" class="store-logo"> Sam's Club Price: <%= store.price %>
                        </div>
                    <% } %>
                <% }); %>
                <div class="buy-now-button-container">
                    <a href="<%= product.url %>" target="_blank" class="buy-now-button">Buy on <%= product.store %></a>
                    <% product.stores.forEach(store => { %>
                        <a href="<%= store.url %>" target="_blank" class="buy-now-button">Buy on <%= store.store %></a>
                    <% }); %>
                </div>
                <button id="addStoreButton">Add Store</button>
                <form id="storeUrlForm" action="/products/add-store-url/<%= productIndex %>" method="post" style="display:none;" onsubmit="showLoadingPopup()">
                    <input type="text" name="storeUrl" placeholder="Enter Product URL" required>
                    <button type="submit">Add URL</button>
                </form>
            </div>
        </div>
        <div class="price-history">
            <h2>Price History</h2>
            <p>Last Updated: <%= product.lastUpdated %></p>
            <ul>
                <% product.history.forEach(entry => { %>
                    <li>Time: <%= entry.time %>, 
                    <% if (entry.store === 'Amazon') { %>
                        Amazon Price: <%= entry.price %>, Prime Price: <%= entry.primePrice %>
                    <% } else if (entry.store === 'Best Buy') { %>
                        Best Buy Price: <%= entry.price %>
                    <% } else if (entry.store === 'Nike') { %>
                        Nike Price: <%= entry.price %>
                    <% } else if (entry.store === 'Home Depot') { %>
                        Home Depot Price: <%= entry.price %>
                    <% } else if (entry.store === 'Walgreens') { %>
                        Walgreens Price: <%= entry.price %>
                    <% } else if (entry.store === 'Sams Club') { %>
                        Sam's Club Price: <%= entry.price %>
                    <% } %>
                    </li>
                <% }) %>
            </ul>
            <canvas id="priceChart"></canvas>
        </div>
        
    </div>
    
    <!-- Loading Overlay and Popup -->
    <div id="loadingOverlay" class="loading-overlay"></div>
    <div id="loadingPopup" class="loading-popup">
        <div class="lds-dual-ring"></div>
        <p>Fetching Product Information...</p>
    </div>

    <script>
        document.getElementById('addStoreButton').addEventListener('click', function() {
            const form = document.getElementById('storeUrlForm');
            form.style.display = form.style.display === 'none' ? 'block' : 'none';
        });

        document.addEventListener('DOMContentLoaded', () => {
             // Check for an error message in the URL
             const params = new URLSearchParams(window.location.search);
            const errorMessage = params.get('error');
            if (errorMessage) {
                alert(decodeURIComponent(errorMessage)); // Display the error as an alert
            }
            renderPriceChart();

            function renderPriceChart() {
                const ctx = document.getElementById('priceChart').getContext('2d');
                const times = <%- JSON.stringify(product.history.map(entry => entry.time)) %>;
                const amazonPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Amazon').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const primePrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Amazon').map(entry => ({ x: entry.time, y: parseFloat(entry.primePrice.replace(/[^0-9.-]+/g,"")) }))) %>;
                const bestBuyPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Best Buy').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const nikePrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Nike').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const homedepotPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Home Depot').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const walgreensPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Walgreens').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;
                const samsclubPrices = <%- JSON.stringify(product.history.filter(entry => entry.store === 'Sams Club').map(entry => ({ x: entry.time, y: parseFloat(entry.price.replace(/[^0-9.-]+/g,"")) }))) %>;

                const uniqueTimes = Array.from(new Set(times));

                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: uniqueTimes,
                        datasets: [
                            {
                                label: 'Amazon Price',
                                data: amazonPrices,
                                borderColor: 'blue',
                                fill: false,
                            },
                            {
                                label: 'Prime Price',
                                data: primePrices,
                                borderColor: 'green',
                                fill: false,
                            },
                            {
                                label: 'Best Buy Price',
                                data: bestBuyPrices,
                                borderColor: 'yellow',
                                fill: false,
                            },
                            {
                                label: 'Nike Price',
                                data: nikePrices,
                                borderColor: 'maroon',
                                fill: false,
                            },
                            {
                                label: 'Home Depot Price',
                                data: homedepotPrices,
                                borderColor: 'orange',
                                fill: false,
                            },
                            {
                                label: 'Walgreens Price',
                                data: walgreensPrices,
                                borderColor: 'red',
                                fill: false,
                            },
                            {
                                label: 'Sams Club Price',
                                data: samsclubPrices,
                                borderColor: 'purple',
                                fill: false,
                            }
                        ]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Price Data'
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                time: {
                                    unit: 'minute',
                                    tooltipFormat: 'll HH:mm',
                                    displayFormats: {
                                        'minute': 'HH:mm'
                                    }
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Price ($)'
                                }
                            }]
                        }
                    }
                });
            }

            const toggleButton = document.getElementById('darkModeToggle');
            const isDarkMode = localStorage.getItem('dark-mode') === 'true';

            if (isDarkMode) {
                document.body.classList.add('dark-mode');
                toggleButton.textContent = '☀️';
            }

            toggleButton.addEventListener('click', () => {
                document.body.classList.toggle('dark-mode');
                const darkModeEnabled = document.body.classList.contains('dark-mode');
                localStorage.setItem('dark-mode', darkModeEnabled);
                toggleButton.textContent = darkModeEnabled ? '☀️' : '🌙';
            }); 


        });

        function showLoadingPopup() {
            document.getElementById('loadingOverlay').style.display = 'block';
            document.getElementById('loadingPopup').style.display = 'block';
            document.body.classList.add('dimmed');
        }
    </script>
</body>
</html>
